$color-background: #eee;
$color-main: #258fb8;
$color-gray01: #666;
$color-gray02: #999;
$color-gray03: #ccc;
$color-gray04: #ddd;
$color-gray05: #fff;
$color-sidebar: linear-gradient(to right bottom,#01a177,#1779a1);
$opacity-sidebar: .3;
